<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="zase4ka.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="zase4ka.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <zase4ka.Properties.Settings>
            <setting name="line_1" serializeAs="String">
                <value />
            </setting>
            <setting name="line_2" serializeAs="String">
                <value />
            </setting>
            <setting name="line_3" serializeAs="String">
                <value />
            </setting>
            <setting name="line_4" serializeAs="String">
                <value />
            </setting>
            <setting name="zase4ka_comPort" serializeAs="String">
                <value />
            </setting>
            <setting name="lapTIme_comPort" serializeAs="String">
                <value />
            </setting>
            <setting name="line1_6" serializeAs="String">
                <value />
            </setting>
            <setting name="line2_6" serializeAs="String">
                <value />
            </setting>
            <setting name="line3_6" serializeAs="String">
                <value />
            </setting>
            <setting name="line4_6" serializeAs="String">
                <value />
            </setting>
            <setting name="line5_6" serializeAs="String">
                <value />
            </setting>
            <setting name="line6_6" serializeAs="String">
                <value />
            </setting>
            <setting name="delay1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="color_delay" serializeAs="String">
                <value />
            </setting>
            <setting name="color_delay1" serializeAs="String">
                <value />
            </setting>
            <setting name="color_delay2" serializeAs="String">
                <value />
            </setting>
            <setting name="color_delay3" serializeAs="String">
                <value />
            </setting>
            <setting name="color_delay4" serializeAs="String">
                <value />
            </setting>
            <setting name="color_delay5" serializeAs="String">
                <value />
            </setting>
            <setting name="enabled4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enabled6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="color_delay6" serializeAs="String">
                <value />
            </setting>
            <setting name="deley6_text" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name1pr24" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name2pr24" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name3pr24" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result1Pr24" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result2Pr24" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result3Pr24" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result1retro" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result2retro" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result3retro" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name1retro" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name2retro" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name3retro" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name1vantagivka" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name2vantagivka" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name3vantagivka" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result1vantagivka" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result2vantagivka" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result3vantagivka" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name1Es_s" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name2Es_s" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name3Es_s" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result1Es_s" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result2Es_s" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result3Es_s" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name1g33" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name2g33" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name3g33" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result1g33" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result2g33" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result3g33" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name1f124" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name2f124" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name3f124" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result1f124" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result2f124" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result3f124" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name1g12" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name2g12" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name3g12" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result1g12" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result2g12" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result3g12" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name1es24" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name2es24" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name3es24" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result1es24" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result2es24" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result3es24" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name1es32" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name2es32" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name3es32" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result1es32" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result2es32" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result3es32" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name1f1" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name2f1" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name3f1" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result1f1" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result2f1" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result3f1" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name1g15" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name2g15" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name3g15" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result1g15" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result2g15" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result3g15" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name1g12open" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name2g12open" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_name3g12open" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result1g12open" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result2g12open" serializeAs="String">
                <value />
            </setting>
            <setting name="best_time_result3g12open" serializeAs="String">
                <value />
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
        </zase4ka.Properties.Settings>
    </userSettings>
</configuration>
