<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="zase4ka.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <zase4ka.Properties.Settings>
            <setting name="line_1" serializeAs="String">
                <value />
            </setting>
            <setting name="line_2" serializeAs="String">
                <value />
            </setting>
            <setting name="line_3" serializeAs="String">
                <value />
            </setting>
            <setting name="line_4" serializeAs="String">
                <value />
            </setting>
            <setting name="Yellow_line_1" serializeAs="String">
                <value />
            </setting>
            <setting name="Blue_line_1" serializeAs="String">
                <value />
            </setting>
            <setting name="Black_line_1" serializeAs="String">
                <value />
            </setting>
            <setting name="Green_line_1" serializeAs="String">
                <value />
            </setting>
            <setting name="Read_line_2" serializeAs="String">
                <value />
            </setting>
            <setting name="White_line_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Orange_line_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Perple_line_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Yellow_line_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Blue_line_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Black_line_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Green_line_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Read_line_3" serializeAs="String">
                <value />
            </setting>
            <setting name="White_line_3" serializeAs="String">
                <value />
            </setting>
            <setting name="Orange_line_3" serializeAs="String">
                <value />
            </setting>
            <setting name="Perple_line_3" serializeAs="String">
                <value />
            </setting>
            <setting name="Yellow_line_3" serializeAs="String">
                <value />
            </setting>
            <setting name="Blue_line_3" serializeAs="String">
                <value />
            </setting>
            <setting name="Black_line_3" serializeAs="String">
                <value />
            </setting>
            <setting name="Green_line_3" serializeAs="String">
                <value />
            </setting>
            <setting name="Read_line_4" serializeAs="String">
                <value />
            </setting>
            <setting name="White_line_4" serializeAs="String">
                <value />
            </setting>
            <setting name="Orange_line_4" serializeAs="String">
                <value />
            </setting>
            <setting name="Perple_line_4" serializeAs="String">
                <value />
            </setting>
            <setting name="Yellow_line_4" serializeAs="String">
                <value />
            </setting>
            <setting name="Blue_line_4" serializeAs="String">
                <value />
            </setting>
            <setting name="Black_line_4" serializeAs="String">
                <value />
            </setting>
            <setting name="Green_line_4" serializeAs="String">
                <value />
            </setting>
        </zase4ka.Properties.Settings>
    </userSettings>
</configuration>
